.App {
  text-align: center;
}

.products{
  background-color: black;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
 
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

#submitBtn {
  width: 11%;
  margin-top: 10px;
}

.registration-form {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: beige;
}


#submitButton {
  position: relative;
  left: calc(50% - 50px);
  margin-top: 20px;
}

.image-container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-food{
  width: 600px;
}

.image-container1 img {
  height: 100%;
  width: 100%;
  
}



.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
}

.cardColor{
  
  
  background-color: rgb(75, 190, 205);  
  width: 60vw;
  margin: 50px auto;
  padding: 25px;
 
  
  margin-bottom: 20px;
  
  
}

.background{
  background-color: beige;
}




.AdminDashboard{
  background-color:(114, 74, 26);
}


.login-page{
  background-image: url("https://c.wallhere.com/photos/42/59/cat_drawing_black_green-779608.jpg!d");
  padding: 16rem;
  max-width: 100%;
  max-height: 100%;
}

